<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @editorial_list.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @editorial_list.about %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @editorial_list.slug %>
</p>

<p>
  <strong>Posts:</strong>
<ul>
  <% @editorial_list.posts.each do |post| %>
    <li><%= link_to(post.title, post) %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_editorial_list_path(@editorial_list) %> |
<%= link_to 'Back', editorial_lists_path %>
