<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :lead %>
    <%= form.text_area :lead %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_for_select(Category.order(:position).map { |c| [c.name, c.id] }) %>
  </div>

  <%= hidden_field_tag 'post[editorial_list_ids][]', nil %>
  <% EditorialList.order(:title).each do |editorial_list| %>
    <%= check_box_tag 'post[editorial_list_ids][]', editorial_list.id, post.editorial_list_ids.include?(editorial_list.id), id: dom_id(editorial_list), style: 'float: left;' %>
    <%= label_tag dom_id(editorial_list), editorial_list.title %><br />
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
