<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.full_name %>
</p>

<p>
	<strong>Add to list:</strong>
	<%= form_tag('/editorial_lists/add', method: :post) do %>
		<%= hidden_field_tag(:post_id, @post.id) %>
		<%= select_tag(:id, options_for_select(EditorialList.all.map { |l| [l.title, l.id] })) %>
		<%= submit_tag('Add') %>
	<% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
